body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 1.2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    /* max-width: 1200px; */
    max-width: 100%;
    /* margin: 0 auto; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 1000%;
    max-height: 90%;
}
#donateIcon {
    position: fixed;
    /* position: relative; */
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000; /* Para garantir que fique acima do resto do conteúdo */
    display: none;
}
#pop_up_donate.active {
    display: block;
}
#pop_up_donate{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    /* width: 100%; */
    align-items: center;
    align-content: center;
    text-align: center;
}
#donationClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
}
#donationContainer {
    display: none;
    position: relative;
    margin-top: 20px;

}

#donationContainer button {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;

}
#donationContainer img {
    margin-right: 10px;
}

#donationInfo {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}
#chat {
    margin: 0 1rem;
}
#userListContainer {
    align-items: center;
    text-align: center;
    display: none;
    list-style-type: none;
    padding: 0;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: none;
    max-height: 80%;
    /* min-height: 40vh; */
    overflow-y: auto;
}
#userListContainer li {
    text-align: start;
}
#createRoom, #joinRoom {
    /* margin-bottom: 20px; */
    margin: 0.5rem 1rem;
}
#createRoom, input, label {
    /* margin-bottom: 20px; */
    width: 100%;
    font-size: 1rem;
    /* margin: .5rem 0; */
}
#joinRoom, input, label {
    /* margin-bottom: 20px; */
    width: 100%;
    font-size: 1rem;
    /* margin: .5rem 0; */
}
#videoContainer {
    width: 100%;
    /* max-width: 600px; */
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* margin-bottom: 20px; */
    display: none;
    align-content: center;
}
#videoContainer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
#videoContainer button:hover {
    background-color: #0056b3;
}
#videoContainer video {
    width: 100%;
    max-height: 80vh;
    /* max-height: 30vh; */
    border-radius: 8px;
    height: 80%;
}
#videoControls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
ul#messages {
    list-style-type: none;
    padding: 0;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: none;
    max-height: 30%;
    min-height: 40vh;
    overflow-y: auto;
}
ul#messages li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
ul#messages li:last-child {
    border-bottom: none;
}
form#form {
    width: 90%;
    max-width: 600px;
    display: flex;
    display: none;
    /* margin-top: 20px;  */
}
form#form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    margin-bottom: 1rem;
}
form#form button {
    position: relative;
    /* right: 3.3rem; */
}
button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: 10px; */
}
button:hover {
    background-color: #0056b3;
}

/* DESIGN ITS NOT ALREADY */
@media screen and (max-width: 575.98px)  
{
    body {
        height: 100%;
        align-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #createRoom, input, label, button {
        /* margin-bottom: 20px; */
        width: 100%;
        font-size: 3rem;
        margin: .5rem 0;
    }
    
    #joinRoom, input, label, button {
        /* margin-bottom: 20px; */
        width: 100%;
        font-size: 3rem;
        margin: .5rem 0;
    }

    #videoContainer {
        width: 100%;
        max-width: 100%;
    }

    #chat {
        width: 100%;
    }

    form#form {
        width: 100%;
        max-width: 100%;
    }
    
    ul#messages {
        width: 100%;
        max-width: 100%;
        min-height: 30vh;
    }
    
    form#form input {
        width: 100%;
        max-width: 100%;
    }
    
    form#form button {
        width: 100%;
        max-width: 100%;
    }
}

/* DESIGN ITS NOT ALREADY */
@media screen and (min-width: 576px) and (max-width: 767px) 
{
    body {
        height: 100%;
        align-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #createRoom, input, label, button {
        /* margin-bottom: 20px; */
        width: 100%;
        font-size: 3rem;
        margin: .5rem 0;
    }
    
    #joinRoom, input, label, button {
        /* margin-bottom: 20px; */
        width: 100%;
        font-size: 3rem;
        margin: .5rem 0;
    }

    #videoContainer {
        width: 100%;
        max-width: 100%;
    }

    #chat {
        width: 100%;
    }

    form#form {
        width: 100%;
        max-width: 100%;
    }
    
    ul#messages {
        width: 100%;
        max-width: 100%;
        min-height: 30vh;
    }
    
    form#form input {
        width: 100%;
        max-width: 100%;
    }
    
    form#form button {
        width: 100%;
        max-width: 100%;
    }
}

/* DESIGN ITS ALREADY */
@media screen and (min-width: 768px) and (max-width: 991px) 
{

    body {
        height: 100%;
        align-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #createRoom, input, label, button {
        /* margin-bottom: 20px; */
        width: 100%;
        font-size: 3rem;
        margin: .5rem 0;
    }
    
    #joinRoom, input, label, button {
        /* margin-bottom: 20px; */
        width: 100%;
        font-size: 3rem;
        margin: .5rem 0;
    }

    #videoContainer {
        width: 100%;
        max-width: 100%;
    }

    #chat {
        width: 100%;
        margin: 3rem 0;
    }

    form#form {
        width: 100%;
        max-width: 100%;
    }
    
    ul#messages {
        width: 98%;
        max-width: 100%;
        min-height: 30vh;
    }

    ul#messages li {
        font-size: 3rem;
    }
    
    form#form input {
        width: 98%;
        max-width: 100%;
    }
    
    form#form button {
        width: 100%;
        max-width: 100%;
    }

    #userListContainer {
        max-width: 100%;
        width: 98%;
        font-size: 3rem;
    }

    /* #donateIcon {
        right: 8rem;
    } */

}